.form,
.content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.search-form .form-group input,
.search-form .form-group textarea,
.search-form .form-group select {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  font-family: inherit;
  border-color: var(--textarea-border);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.search-form .form-group input:focus,
.search-form .form-group textarea:focus,
.search-form .form-group select:focus {
  outline: var(--textarea-focus);
}

.search-form .form-group input {
  background: #0a0a0a;
  color: white;
}

.search-form .form-group input:-webkit-autofill,
.search-form .form-group input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
  color: white;
}