/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Global -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  color: var(--link);
}

p {
  line-height: 1.7;
  font-weight: 100;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 6px 4px 4px rgb(0, 0, 0);
}

h4 {
  font-weight: 400;
  line-height: 1.75;
  text-shadow: 6px 4px 4px rgb(0, 0, 0);
}

img {
  user-select: none;
}

.heading svg {
  vertical-align: middle;
}

*:focus-visible {
  outline: -webkit-focus-ring-color none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 6rem 0.5rem 0 0.5rem;
  text-align: center;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Scrollbar -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 0px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  background-color: #a970ff5e;
}

body {
  color: transparent;
  overflow: auto;
  transition: color 0.3s;
}

body:hover {
  color: var(--scrollbar-thumb);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Media Queries -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media (max-width: 420px) {
  .container {
    margin: auto;
    width: 100%;
    padding: 4rem 0.5rem 0 0.5rem;
  }
}

  /* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Color Themes -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
  :root {
    --font: #fff;
    --link: #fff;
    --background: #121212;
    --header-hover: #909090;
    --header-borderbottom: #2e2e2e;
    --heading-paragraph: #858585;
    --textarea-border: #2e2e2e;
    --textarea-focus: 1px solid rgb(102, 102, 102);
    --textarea-background: #fffbfb;
    --card-background: #383838;
    --btn-border: #121212;
    --btn-background: #000;
    --btn-font: #fff;
    --btn-background-reverse: #fff;
    --btn-font-reverse: #000;
    --spinner-background: rgba(0, 0, 0, 0.5);
    --spinner:#000 transparent rgb(169, 112, 255) transparent;
    --sidebar-background: rgb(100, 100, 100);
    --twitch-background: #1b1b1b;
    --scrollbar-thumb: rgb(51, 51, 51);
    --purple-glow-lg: rgba(135, 38, 245, 0.356) 7px 1px 15px,
      rgba(111, 14, 201, 0.473) -7px 2px 12px,
      rgba(120, 10, 194, 0.295) 0px 5px 6px, rgba(148, 71, 192, 0.17) 0px 5px 5px,
      rgba(209, 209, 209, 0.514) 0px 0px 15px;
    --purple-glow-sm: rgba(125, 17, 248, 0.77) 0px 0px 7px,
      rgba(192, 192, 192, 0.37) -2px 2px 8px,
      rgba(255, 255, 255, 0.363) 0px 0px 2px, rgb(228 228 228 / 17%) 2px -4px 7px,
      rgb(0 0 0 / 9%) 0px 0px 5px;
    --purple-glow-thumbnail: rgba(135, 38, 245, 0.77) 0px 0px 10px,
      rgb(192 192 192 / 12%) 0px 5px 12px, rgb(255 255 255 / 12%) 0px 5px 6px,
      rgb(228 228 228 / 17%) 0px 5px 5px, rgb(0 0 0 / 9%) 0px 0px 5px;
  }
  
  [data-theme='light'] {}
  