@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Global -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: 0.5s;
  color: var(--link);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 6px 4px 4px rgb(0, 0, 0);
}

h4 {
  font-weight: 550;
  line-height: 1.75;
  text-shadow: 6px 4px 4px rgb(0, 0, 0);
}

*:focus-visible {
  outline: -webkit-focus-ring-color none;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 6rem 0.5rem 0 0.5rem;
  text-align: center;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Header -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid;
  margin-bottom: 60px;
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom-color: var(--header-borderbottom);
  background-color: var(--background);
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a svg {
  margin-right: 5px;
}

.logo a:hover,
.header ul li a:hover {
  color: var(--header-hover);
}

@media (max-width: 420px) {
  .header ul a {
    font-size: 0.8em;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Heading -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  color: var(--font);
}

.heading p {
  color: var(--heading-paragraph);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Form -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.form,
.content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  border-color: var(--textarea-border);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  outline: var(--textarea-focus);
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
  color: var(--font);
}

.form-group input {
  background-color: var(--textarea-background);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Button -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.btn {
  padding: 8px 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--btn-border);
  background: var(--btn-background);
  color: var(--btn-font);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  transition: all 0.5s;
}

.btn svg {
  margin-right: 8px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-reverse {
  background: var(--btn-background-reverse);
  color: var(--btn-font-reverse);
}

.btn:hover {
  transform: scale(0.98);
  box-shadow: none;
  color: var(--header-hover);
}

.btn:active {
  border: 1px solid grey;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Loading Spinner -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--spinner-background);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: var(--spinner);
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= SearchBar Component -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.search-btn {
  width: 75%;
  margin: auto;
}
.search-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.input-wrapper {
  position: relative;
}

.clear-input {
  cursor: pointer;
}

@media (max-width: 600px) {
  .search-input {
    font-size: 0.75em;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= SideBar Component -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.sidebar-collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 4.5rem;
  padding-top: 3rem;
  background-color: var(--background);
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 0px 15px;
}

.sidebar-opened {
  width: 15rem !important;
}

.main-opened {
  margin-left: 15rem !important;
}

.main-collapsed {
  height: 100vh;
  margin-left: 4.5rem;
  transition: 0.5s;
}

.toggle-collapse-container {
  width: 100%;
  margin-top: 0.75rem;
  padding: 5px 5px 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggle-open-container {
  padding-bottom: 0.5rem;
}

.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  color: var(--btn-font);
  transition: 0.5s;
  border-radius: 15%;
  background-color: var(--background);
}

.toggle-btn:hover {
  color: var(--font);
  background-color: var(--twitch-background);
}

.toggle-message {
  color: var(--font);
}

.sidebar-content {
  margin: 0 auto;
  width: 100%;
  padding: 10px;
}

.sidebar-item {
  display: flex;
  align-items: center;
}

.sidebar-thumbnail {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar-thumbnail:hover {
  transform: scale(1.1);
  box-shadow: rgba(135, 38, 245, 0.77) 0px 0px 11px,
    rgb(192 192 192 / 12%) -6px 5px 12px, rgb(255 255 255 / 12%) 0px 5px 6px,
    rgb(228 228 228 / 17%) 0px 5px 5px, rgb(0 0 0 / 9%) 0px 0px 5px;
}

.sidebar-link {
  padding: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: var(--font);
  display: block;
  transition: 0.3s;
  cursor: pointer;
  max-width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-link:hover {
  color: var(--header-hover);
}

.sidebar-remove-btn {
  display: flex;
  margin-left: auto;
  padding: 2px;
  color: var(--font);
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  background: transparent;
  border: 1px solid grey;
  border-radius: 50%;
}

.sidebar-remove-btn:hover {
  color: rgb(167, 0, 0);
  transform: scale(0.9);
}

.sidebar-remove-btn:active {
  outline: none;
  color: white;
  background: red;
}

.sidebar-remove-icon {
  pointer-events: none;
}

@media (max-width: 600px) {
  .sidebar-content {
    padding: 5px;
  }
  .sidebar-item {
    padding: 5px 0;
  }
  .sidebar-thumbnail {
    width: 40px;
    height: 40px;
  }
  .sidebar-link {
    padding: 5px 15px;
  }
}
@media (max-width: 500px) {
  .main-opened {
    margin-left: 3rem !important;
  }
}

.hidden {
  display: none;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Twitch Component -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.content {
  color: var(--font);
}

.twitch {
  padding: 1rem;
  background: var(--twitch-background);
  border-radius: 0.5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.twitch-name {
  letter-spacing: 1px;
}

.twitch-profile-pic {
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 55px,
    rgba(0, 0, 0, 0.12) 0px -5px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 5px 15px, rgba(0, 0, 0, 0.09) 0px 0px 15px;
  transition: all 0.3s;
}

.twitch-profile-pic:hover {
  box-shadow: none;
  transform: scale(0.98);
}

.favorite-icon-wrapper {
  display: flex;
  justify-content: space-between;
}

.favorite-icon,
.favorite-close {
  cursor: pointer;
  width: 2em;
  height: 2em;
  transition: all 0.5s;
}

.favorite-icon {
  color: #eb2748;
}

.favorite-close {
  color: white;
}

.favorite-icon:hover,
.favorite-close:hover {
  transform: scale(0.8);
}

.favorite-icon:hover {
  color: #701424;
}

.favorite-close:hover {
  color: rgb(133, 133, 133);
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-twitch {
  color: mediumpurple;
  margin-bottom: 5px;
  width: 1.5em;
  height: 1.5em;
}

.go-verified {
  color: rgb(30, 125, 255);
  position: relative;
  left: 5px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= DarkMode Component -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.dark-mode {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

/* Hide toggle input */
.dark-mode input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Style toggle body */
.dark-mode label {
  display: block;
  width: 90px;
  height: 40px;
  background-color: #6e5096;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #62478550;
  -webkit-tap-highlight-color: transparent;
}

/* Create toggle ball */
.dark-mode label::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 5px;
  left: 5px;
  transition: 0.5s;
}

/* Add sliding animation */
.dark-mode input:checked + label:after {
  left: calc(100% - 5px);
  transform: translate(-100%);
}
.dark-mode input:checked + label {
  background-color: #2f233f;
}
.dark-mode label:active:after {
  width: 42px;
}

/* Emoji Size */
.dark-mode span {
  font-size: 2rem;
  padding: 0 4px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Global Scrollbar -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-clip: content-box;
  border: 0px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Body Scrollbar -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

body::-webkit-scrollbar-track {
  background-color: var(--background);
}

body {
  color: var(--background);
  overflow: auto;
  transition: color 0.3s;
}

body:hover {
  color: var(--scrollbar-thumb);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= SideBar Scrollbar -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.sidebar-collapsed::-webkit-scrollbar-track {
  margin-top: 3.4rem;
  margin-bottom: -0.4rem;
  background-color: var(--background);
}

.sidebar-collapsed {
  color: var(--background);
  overflow: auto;
}

.sidebar-collapsed:hover {
  color: var(--scrollbar-thumb);
}

/* -=-=-=-=-=- SideBar Media Queries -=-=-=-=-= */

@media (max-width: 600px) {
  .sidebar-collapsed {
    width: 3em;
  }
  .main-collapsed {
    margin-left: 3rem;
  }
  .sidebar-collapsed::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Global Media Queries -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media (max-width: 600px) {
  .form,
  .content {
    width: 90%;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .container {
    margin: auto;
    width: 100%;
    padding: 4rem 0.5rem 0 0.5rem;
  }
  .heading {
    padding: 5px;
    margin-bottom: 20px;
  }
  .form,
  .content {
    width: 100%;
  }
  .header .btn {
    padding: 5px 10px;
    font-size: 12px;
  }
  .search-btn {
    font-size: 14px;
  }
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Color Themes Start -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

:root {
  --font: #000;
  --link: #000;
  --background: #fff;
  --header-hover: #777;
  --header-borderbottom: #e6e6e6;
  --heading-paragraph: #828282;
  --textarea-border: #e6e6e6;
  --textarea-focus: 1px solid rgb(155, 155, 155);
  --textarea-background: #e6e6e6;
  --card-background: #bebebe;
  --btn-border: #000;
  --btn-background: #000;
  --btn-font: #fff;
  --btn-background-reverse: #fff;
  --btn-font-reverse: #000;
  --spinner-background: rgba(0, 0, 0, 0.5);
  --spinner: #000 transparent #555 transparent;
  --sidebar-background: rgb(100, 100, 100);
  --twitch-background: #242424;
  --scrollbar-thumb: rgb(51, 51, 51);
}

[data-theme='dark'] {
  --font: #fff;
  --link: #fff;
  --background: #121212;
  --header-hover: #909090;
  --header-borderbottom: #2e2e2e;
  --heading-paragraph: #858585;
  --textarea-border: #2e2e2e;
  --textarea-background: #fffbfb;
  --card-background: #383838;
  --btn-border: #121212;
  --btn-background: #000;
  --btn-font: #fff;
  --btn-background-reverse: #fff;
  --btn-font-reverse: #000;
  --spinner-background: rgba(0, 0, 0, 0.5);
  --spinner: #000 transparent #555 transparent;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-= Color Themes End -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
