@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /* color: #000; */
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

/* .header ul li a:hover {
  color: #777;
} */

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  display: grid;
  /* background-color: #c0c0c0; */
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 5px;
  /* background: #000; */
  /* color: #fff; */
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

/* .btn-reverse {
  background: #fff; 
  color: #000; 
} */

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  /* border-color: #000 transparent #555 transparent; */
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* Darkmode Component Styling */
:root {
  --font: #000;
  --link: #000;
  --background: #fff;
  --header-hover: #777;
  --header-borderbottom: #e6e6e6;
  --heading-paragraph: #828282;
  --textarea-border: #e6e6e6;
  --textarea-background: #e6e6e6;
  --card-background: #bebebe;
  --btn-border: #000;
  --btn-background: #000;
  --btn-font: #fff;
  --btn-background-reverse: #fff;
  --btn-font-reverse: #000;
  --spinner-background: rgba(0, 0, 0, 0.5);
  --spinner: #000 transparent #555 transparent;
}

[data-theme='dark'] {
  --font: #fff;
  --link: #fff;
  --background: #121212;
  --header-hover: #909090;
  --header-borderbottom: #2e2e2e;
  --heading-paragraph: #858585;
  --textarea-border: #2e2e2e;
  --textarea-background: #fffbfb;
  --card-background: #383838;
  --btn-border: #121212;
  --btn-background: #000;
  --btn-font: #fff;
  --btn-background-reverse: #fff;
  --btn-font-reverse: #000;
  --spinner-background: rgba(0, 0, 0, 0.5);
  --spinner: #000 transparent #555 transparent;
}

body {
  background-color: var(--background);
  color: var(--font);
  transition: 0.5s;
}

a {
  transition: 0.5s;
  color: var(--link);
}

.header {
  border-bottom-color: var(--header-borderbottom);
}

.header ul li a:hover {
  color: var(--header-hover);
}

.heading p {
  color: var(--heading-paragraph);
}

.goal {
  background-color: var(--card-background);
}

.form-group input {
  background-color: var(--textarea-background);
}

.form-group input,
.form-group textarea,
.form-group select {
  border-color: var(--textarea-border);
}

.btn {
  border-color: var(--btn-border);
  background: var(--btn-background);
  color: var(--btn-font);
}

.btn-reverse {
  background: var(--btn-background-reverse);
  color: var(--btn-font-reverse);
}

.loadingSpinnerContainer {
  background-color: var(--spinner-background);
}

.loadingSpinner {
  border-color: var(--spinner);
}

.dark-mode {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
}

/* Hide toggle input */
.dark-mode input[type='checkbox'] {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Style toggle body */
.dark-mode label {
  display: block;
  width: 90px;
  height: 40px;
  background-color: #6e5096;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0 0 20px #62478550;
  -webkit-tap-highlight-color: transparent;
}

/* Create toggle ball */
.dark-mode label::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 70px;
  top: 5px;
  left: 5px;
  transition: 0.5s;
}

/* Add sliding animation */
.dark-mode input:checked + label:after {
  left: calc(100% - 5px);
  transform: translate(-100%);
}
.dark-mode input:checked + label {
  background-color: #2f233f;
}
.dark-mode label:active:after {
  width: 42px;
}

/* Emoji Size */
.dark-mode span {
  font-size: 2rem;
  padding: 0 4px;
}
